/* 3 Column Layout */
.kcd-right-col {
    -webkit-box-ordinal-group:1;
    -ms-flex-order:0;
    order:0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* border-bottom:1px solid rgba(0,0,0,.1) */
}
@media (min-width:768px){
    .kcd-right-col { 
        border-right:1px solid rgba(0,0,0,.1); 
    }
    @supports ((position:-webkit-sticky) or (position:sticky)) {
        .kcd-right-col { 
            position:-webkit-sticky; 
            position:sticky; 
            top:0rem; 
            z-index:1000; 
            height:calc(100vh); 
        }
    }
}
@media (min-width:1200px) {
    .kcd-right-col { 
        -webkit-box-flex:0; 
        -ms-flex:0 1 320px; 
        flex:0 1 320px; 
    }
}

.kcd-left-col {
    -webkit-box-ordinal-group:3;
    -ms-flex-order:2;
    order:2;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size:.875rem
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
    .kcd-left-col{
        position:-webkit-sticky;
        position:sticky;
        top:0rem;
        height:calc(100vh);
        overflow-y:auto
    }
}

/* Right Menu */
#rightMenu { list-style-type: none; padding-left: 3px; }
#rightMenu li a { text-decoration: none; }
#rightMenu li ul { list-style-type: none; padding-left: 3px; }
#rightMenu li ul li a { text-decoration: none; }

#rightMenu li a i.fa-arrow-alt-circle-down { display: none; }
#rightMenu li a.collapsed i.fa-arrow-alt-circle-down { display: inline; }

#rightMenu li a i.fa-arrow-alt-circle-up { display: inline; }
#rightMenu li a.collapsed i.fa-arrow-alt-circle-up { display: none; }


.text-active {
    color: #b2bfcac4!important;
}

a.noLine {
    text-decoration: none;
}

#TableOfContents ul ul {
    list-style-position: outside;
    padding-left: 25px;

}
