<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>

        <div class="container-fluid">
            <div class="row flwx-xl-nowrap">
                {{/* Right Side Menu */}}
                <div class="col-12 col-md-2 col-xl-2 bg-dark text-white px-0 kcd-right-col">
                    {{- partial "menu-left-main.html" . -}}
                </div>

                {{/* Main Content */}}
                <main class="col" role="main">
                    {{- partial "page-title.html" . -}}
                    <div class="row">
                    {{ range (.Paginator 9).Pages.ByDate }} 
                        {{- partial "list-card.html" . -}}
                    {{ end }}
                    </div>

                    <div class="d-flex justify-content-center">
                        {{ template "_internal/pagination.html" . }}
                    </div>
                </main>

            </div>
        </div>
        {{ partial "scripts.html" . }}
    </body>
</html>