<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>

        <div class="container-fluid">
            <div class="row flwx-xl-nowrap">
                {{/* Left Side Menu */}}
                <div class="col-12 col-md-2 col-xl-2 bg-dark text-white px-0 kcd-right-col">
                    {{- partial "menu-left-main.html" . -}}
                </div>

                {{/* Right Side Menu */}}
                {{ if .Params.show_right_bar }}
                    <div class="col-12 col-md-2 col-xl-2 bg-dark text-white px-2 kcd-left-col">
                        {{- partial "menu-right-main.html" . -}}
                    </div>
                {{ end }}

                {{/* Main Content */}}
                <main class="col" role="main">
                    {{- partial "page-title.html" . -}}
                    {{ .Content }}
                </main>

            </div>
        </div>
        {{ partial "scripts.html" . }}
    </body>
</html>