{{ if .Params.show_categories }}
    {{ range .Params.categories }}
        <a href="/categories/{{ . | urlize | lower  }}" class="badge badge-info">{{ . }}</a>
    {{ end }}
{{ end }}

{{ if .Params.show_tags }}
    {{ range .Params.tags }}
        <a href="/tags/{{ . | urlize | lower  }}" class="badge badge-warning">{{ . }}</a>
    {{ end }}
{{ end }}