<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel='icon' href="/favicon.ico">

     {{/* Bootstrap */}}
     <link rel="stylesheet" href="/css/bootstrap.4.3.1.min.css">

     {{/* Font Awesome */}}
     <link rel="stylesheet" href="/css/fontawesome.5.8.1.all.min.css">

     {{/* Heighlight Theme */}}
     {{ if .Site.Params.codetheme }}
          <link rel="stylesheet" href="/css/highlight.v9.15.6/{{ .Site.Params.codetheme }}.css">
     {{ else }}
          <link rel="stylesheet" href="/css/highlight.v9.15.6/androidstudio.css">
     {{ end }}
        
     {{/* Theme Override */}}
     <link rel="stylesheet" href="/css/krakendocs.css">
     <title>{{.Site.Title}}</title>
</head>