<div class="card my-3 col-12">
    <div class="card-body">
        <div class="row">

            <div class="col-9">
                <h5 class="card-title">
                    <a href="{{ .Name }}" class="text-dark noLine stretched-link">{{ .Name }}</a> 
                    <small class="text-muted">{{ .Lastmod | dateFormat "Monday, Jan 2, 2006" }}</small>
                </h5>
                <p class="card-text">{{ .Summary }}</p>
            </div>

            {{ if or .Params.categories .Params.tags }}
                <div class="col-3">
                    {{ range .Params.categories }}
                        <a href="/categories/{{ . | urlize | lower  }}" class="badge badge-info">{{ . }}</a>
                    {{ end }}

                    {{ range .Params.tags }}
                        <a href="/tags/{{ . | urlize | lower  }}" class="badge badge-warning">{{ . }}</a>
                    {{ end }}
                </div>
            {{ end }}

        </div>
    </div>
</div>
