{{ if .Params.show_toc }} 
	<div class="border-bottom mt-2 mb-1 pb-1">
	    <strong>Table Of Contents</strong>
	</div>
	{{ .TableOfContents }}
{{ end }}

{{ if or ( and .Params.tags .Params.show_tags) (and .Params.categories .Params.show_categories) }}
    <div class="border-bottom mt-2 mb-1 pb-1">
            {{ if and .Params.show_tags .Params.show_categories }}
                <strong>Categories / Tags</strong>
            {{ else }}

                {{ if .Params.show_tags }}
                    <strong>Tags</strong>
                {{ end }}

                {{ if .Params.show_categories }}
                    <strong>Categories</strong>
                {{ end }}

            {{ end }}
    </div>
     {{- partial "catandtags.html" . -}}

{{ end }}
