{{/* Site Brand */}}
<div class="border-bottom pb-2 mb-3">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand pl-3" href="/">
            <img src="/favicon-25x30.png" height="30" class="d-inline-block align-top mr-1" alt="">
            <span class="pl-1">{{ .Site.Title }}</span>
        </a>
    </nav>    
</div>

{{/* Site Links */}}
{{ if or .Site.Menus.main .Site.Params.showhome }}
    <div class="border-bottom pb-2 mb-3">
        {{ partial "menu-left-links.html" . }}
    </div>
{{ end }}

{{/* Social Links */}}
{{ if .Site.Social }}
    <div class=" pb-3 mb-3">
        {{ partial "menu-left-social.html" . }}
    </div>
{{ end }}



