{{/* Github */}}
{{ with .Site.Social.github }}
    <div><a href="https://github.com/{{ . }}" target="_new_tab" class="text-white ml-2"><i class="fab fa-fw fa-github"></i> Github</a></div>
{{ end }}

{{/* Bitbuckert */}}
{{ with .Site.Social.bitbucket }}
    <div><a href="https://bitbucket.org/{{ . }}" target="_new_tab" class="text-white ml-2"><i class="fab fa-fw fa-bitbucket"></i> Bitbucket</a></div>
{{ end }}

{{/* Generic Git Site */}}
{{ with .Site.Social.genericgit }}
    <div><a href="{{ . }}" target="_new_tab" class="text-white ml-2"><i class="fas fa-fw fa-code-branch"></i> Git Source</a></div>
{{ end }}

{{/* Generic Ticket Site */}}
{{ with .Site.Social.genericgit }}
    <div><a href="{{ . }}" target="_new_tab" class="text-white ml-2"><i class="fas fa-fw fa-bug"></i> Current Issues</a></div>
{{ end }}

{{/*Linkedin */}}
{{ with .Site.Social.linkedin }}
    <div><a href="https://www.linkedin.com/in/{{.}}/" target="_new_tab" class="text-white ml-2"><i class="fab fa-fw fa-linkedin"></i> Linkedin</a></div>
{{ end }}