{{/* Setup the cerrent url for better comparison */}}
{{ $curUrl := (strings.TrimSuffix "/" $.URL) }}

<ul id="rightMenu">

    {{ if .Site.Params.showhome }}
        <li class="ml-2 mb-1">
            <a href="/" class='{{ if eq $curUrl "" }}text-active{{else}}text-white{{end}}'><i class="fas fa-fw fa-home"></i> Home</a>
        </li>
    {{ end }}

    {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
            <li class="mb-1">
                <a href="{{.URL}}" class='ml-2 {{ if eq $curUrl .URL }}text-active{{else}}text-white{{end}}'>{{ .Pre }}{{ .Name }}</a>

                <a href="#{{.Identifier}}" class="float-right mr-3 {{ if eq $curUrl .URL }}text-info{{else}}text-white{{end}} collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="{{ .Identifier }}">
                    <i class="fa fa-fw fa-arrow-alt-circle-down"></i>
                    <i class="fa fa-fw fa-arrow-alt-circle-up"></i>
                </a>

                <ul class="clean_list border-top border-bottom border-dark bg-secondary collapse {{ if hasPrefix $.URL .URL }}show{{ end }}" id="{{ .Identifier }}">
                    {{ range .Children }}
                        <li><a href="{{ .URL }}" class="{{ if eq $curUrl .URL }}text-dark{{else}}text-white{{end}} ml-4">{{ .Name }} </a>
                    {{ end }}
                </ul>
            </li>

        {{ else }}
            <li class="ml-2 mb-1">
                <a href="{{.URL}}" class='{{ if eq $curUrl .URL }}text-active{{else}}text-white{{end}}'>{{ .Pre }}{{ .Name }}</a>
            </li>
        {{ end }}
    {{ end }}
</ul>
