<div class="row border-bottom mb-3">
    <div class="col-10">
        
        {{ if eq .Type "tags" }}
            <h1 class="display-4 text-warning">Tags: <small class="text-muted">{{ $.Title }}</small></h1>
        {{ else if eq .Type "categories" }}
            <h1 class="display-4 text-info">Categorie: <small class="text-muted">{{ $.Title }}</small></h1>
        {{ else }}
            <h1 class="display-4">
                {{ $.Title }}
                {{ with $.Params.subtitle }} <small class="text-muted">{{ $.Params.subtitle}}</small>{{ end }}
            </h1>
        {{ end }}

    </div>    

    <div class="col-2 text-right">
        <small>
            <strong>Last Modified</strong><br/>
            {{ .Lastmod | dateFormat "Monday, Jan 2, 2006" }}
        </small>
    </div>
    

</div>