<script type="text/javascript" src="/js/viz-lite.v1.8.2.js"> </script>
{{/* <script type="text/javascript" src="https://engimo.netlify.com/assets/js/viz-lite.js"> </script> */}}

<script type="text/javascript">
(function(){
    var vizPrefix = "language-viz-";
    Array.prototype.forEach.call(document.querySelectorAll("[class^=" + vizPrefix + "]"), function(x){
        x.style.display = 'none'
        x.parentNode.style.backgroundColor = "transparent"

        var engine;
        x.getAttribute("class").split(" ").forEach(function(cls){
            if (cls.startsWith(vizPrefix)) {
                engine = cls.substr(vizPrefix.length);
            }
        });
        var image = new DOMParser().parseFromString(Viz(x.innerText, {format:"svg", engine:engine}), "image/svg+xml");
        var imageElement =  image.documentElement;
        imageElement.style.width = "100%";
        x.parentNode.insertBefore(imageElement, x);
    });
})();
</script>