{{/* jQuery */}}
<script src="/js/jquery-3.3.1.min.js"></script>

{{/* Popper.js (included in bootstrap) */}}
{{/* Bootstrap */}}
<script src="/js/bootstrap.4.3.1.bundle.min.js"></script>

{{/* Clipboard */}}
<script src="/js/clipboard-polyfill.v3.0.0-beta3.promise.js"></script>

{{/* Highlight */}}
<script src="/js/highlight.v9.15.6.js"></script>

{{/* Flowchart */}}
{{ if .Params.show_flowchart }}
    {{ partial "scripts-flowchart.html" . }}
{{ end }}

{{/* Messaging */}}
{{ if .Params.show_msc }}
    {{ partial "scripts-msc.html" . }}
{{ end }}

{{/* Graphviz */}}
{{ if  .Params.show_viz}}
    {{ partial "scripts-viz.html" . }}
{{ end }}

<script src="/js/krakendocs.js"></script>