<script src="/js/webfontloader.v1.6.28.js"></script>
<script src="/js/snap.svg.v0.5.1.min.js"></script>
<script src="/js/underscore.v1.9.1.min.js"></script>
<script src="/js/sequence-diagram.v2.0.1.min.js"></script>

<script type="text/javascript">
    var chartPrefix = "language-msc";

    var index = 0;
    Array.prototype.forEach.call(document.querySelectorAll("[class^=" + chartPrefix + "]"), function(x){
        x.style.display = 'none'
        x.parentNode.style.backgroundColor = "transparent"
        jsonContent = x.innerText;

        node0 = document.createElement('div');
        node0.id = 'msc' + index;
        x.parentNode.insertBefore(node0, x);

        var diagram = Diagram.parse(jsonContent);
        diagram.drawSVG("msc"+index, {theme: 'simple'});

        index +=1;
    });
</script>