<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
       <div class="container-fluid">
            <div class="row flwx-xl-nowrap">
                {{/* Left Side Menu */}}
                <div class="col-12 col-md-2 col-xl-2 bg-dark text-white px-0 kcd-right-col">
                    {{- partial "menu-left-main.html" . -}}
                </div>

                {{/* Right Side Menu */}}
                <div class="col-12 col-md-2 col-xl-2 bg-dark text-white px-2 kcd-left-col">
                    {{ if  .Site.Taxonomies.categories }}
                        <div class="border-bottom mt-2 mb-1 pb-1">
                            <strong>Categories</strong>
                        </div>

                        {{range  .Site.Taxonomies.categories.ByCount}}
                            <a href="/categories/{{ .Name }}" class="badge badge-info">
                                {{ .Name }}<span class="badge badge-light ml-1">{{.Count}}</span>
                            </a>
                        {{end}}
                    {{ end }}

                    {{ if .Site.Taxonomies.tags }}
                        <div class="border-bottom mt-3 mb-1 pb-1">
                            <strong>Tags</strong>
                        </div>
                        {{ range .Site.Taxonomies.tags.ByCount }}
                            <a href="/tags/{{ .Name }}" class="badge badge-warning">
                                {{ .Name }}<span class="badge badge-light ml-1">{{.Count}}</span>
                            </a>
                        {{ end }}
                    {{ end }}

                    <div class="border-bottom mt-3 mb-1 pb-1">
                        <strong>Site Info</strong>
                    </div>

                    {{ with .Site.Params.companyname }}
                        <small><strong>Company: </strong>{{.}}</small><br>
                    {{ end }}

                    {{ with .Site.Params.startdate }}
                        <small><strong>Started: </strong>{{.}}</small><br>
                    {{ end }}

                    <small><strong>Page Count: </strong>{{ len .Site.Pages }}</small>

                </div>

                {{/* Main Content */}}
                <main class="col" role="main">
                    {{ .Content }}
                </main>

            </div>
        </div>
       {{ partial "scripts.html" . }}
    </body>
</html>